# Auto detect text files and perform LF normalization
* text=auto

# Specific file types
*.cpp text
*.h text
*.md text
*.txt text
*.cmake text

# Binary files
*.png binary
*.jpg binary
*.wav binary
*.fbx binary

# Line endings for Windows
*.cpp eol=lf
*.h eol=lf
