name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release, Debug]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}
    
    - name: Test
      run: ctest --test-dir ${{github.workspace}}/build
      if: matrix.os == 'ubuntu-latest'
