name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build Release
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release
    
    - name: Package
      run: |
        mkdir dist
        cp -r build/bin dist/
        cp LICENSE.md dist/
        cp README.md dist/
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: DSRT-${{ github.ref_name }}
        path: dist/
